<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>UserCenter</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/static/layui/css/layui.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/userInfo.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/index.css}">
</head>

<body class="layui-layout-body">
<!--        <div style="width:800px;height:100%;margin-left:270px;">-->
<!--            <form action="/user/update" method="post">-->
<!--                ID：<input class="form-control" name="id" type="text" th:value="${user.getId()}" readonly="readonly"><br>-->
<!--                用户账号：<input class="form-control" type="text" th:value="${user.getEmail()}" name="username"><br>-->
<!--                密 码：<input class="form-control" type="text" th:value="${user.getPassword()}" name="password"><br>-->
<!--                <button class="btn btn-primary btn-lg btn-block" type="submit">提交</button>-->
<!--            </form>-->
<!--        </div>-->

<div class="layui-layout layui-layout-admin">

    <div class="layui-header" style="background-color:transparent">
        <header style="height: 60px">
            <a th:href="@{/index}">idlecherry</a >
            <nav>
                <ul class="nav_links">
                    <li><a th:href="@{/index}">Home</a ></li>
                    <li><a th:href="@{/commodities}">Goods</a ></li>
                    <li><a th:href="@{/contact}">Contact</a ></li>
                </ul>
            </nav>
            <div class="btn-area">
                <a th:href="@{/user/usercenter}">User Center</a >
                <a th:href="@{/user/logout}">Log out</a >
            </div>
        </header>
    </div>
    <div class="layui-side bg-pink">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item">
                    <a th:href="@{/index}">Index</a>
                </li>
                <li class="layui-nav-item">
                    <a th:href="@{/user/usercenter}">Account setting</a>
                </li>
                <li class="layui-nav-item">
                    <a href=""> Release New Idle</a>
                </li>
                <li class="layui-nav-item">
                    <a th:href="@{/user/commodityManage}">Manage my goods</a>
                </li>
                <li class="layui-nav-item">
                    <a th:href="@{/user/collectionManage}">My Favorite Commodities</a>
                </li>
                <li class="layui-nav-item">
                    <a th:href="@{/user/Notice}">Message Management</a>
                </li>

            </ul>
        </div>
    </div>
    <div class="layui-body">
        <div>
            <form th:action="@{/user/updateCommodity}" method="post" enctype="multipart/form-data" class="layui-form">
                <div class="layui-form-item" >
                    <label class="layui-form-label">Name</label>
                    <div class="layui-input-block">
                        <input class="layui-input" type="text" name="name" lay-verify="required" style="width:220px">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">Description</label>
                    <div class="layui-input-block" style="width:500px">
                        <input class="layui-input" type="text" name="description" lay-verify="required" style="height:100px">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">Price</label>
                    <div class="layui-input-block">
                        <input class="layui-input"  type="text" name="price" lay-verify="required" style="width:220px">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label" >Category</label>
                    <div class="layui-input-block" style="width:220px">
                        <select name="category" lay-verify="required">
                            <option value="">Please choose a category</option>
                            <option value="1">Clothes</option>
                            <option value="2">Books</option>
                            <option value="3">Home Applicance</option>
                            <option value="4">Electronics</option>
                            <option value="5">Sports</option>
                            <option value="6">Health & Beauty</option>
                            <option value="7">Entertainment</option>
                            <option value="8">Others</option>
                        </select>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">Upload Pictures</label>
                    <div class="layui-input-block">
                        <input class="layui-btn" type="file" name="file" file>
                        <p>*Chose the one you think is the best!</p>
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit type="submit">Post New Idle!</button>
                    </div>
                </div>
            </form>
        </div>

    </div>

    <script th:src="@{/static/layui/layui.all.js}"></script>
    <script>
        layui.use('form', function() {
            var form = layui.form;
            form.render();
        });
    </script>
</body>
</html>