<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sydney.dao.NoticeTypeMapper">
  <resultMap id="BaseResultMap" type="com.sydney.entity.NoticeType">
    <id column="noticeTypeID" jdbcType="INTEGER" property="noticetypeid" />
    <result column="noticeTypeName" jdbcType="VARCHAR" property="noticetypename" />
  </resultMap>
  <sql id="Base_Column_List">
    noticeTypeID, noticeTypeName
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from notice_type
    where noticeTypeID = #{noticetypeid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from notice_type
    where noticeTypeID = #{noticetypeid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.sydney.entity.NoticeType">
    insert into notice_type (noticeTypeID, noticeTypeName)
    values (#{noticetypeid,jdbcType=INTEGER}, #{noticetypename,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sydney.entity.NoticeType">
    insert into notice_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="noticetypeid != null">
        noticeTypeID,
      </if>
      <if test="noticetypename != null">
        noticeTypeName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="noticetypeid != null">
        #{noticetypeid,jdbcType=INTEGER},
      </if>
      <if test="noticetypename != null">
        #{noticetypename,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sydney.entity.NoticeType">
    update notice_type
    <set>
      <if test="noticetypename != null">
        noticeTypeName = #{noticetypename,jdbcType=VARCHAR},
      </if>
    </set>
    where noticeTypeID = #{noticetypeid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sydney.entity.NoticeType">
    update notice_type
    set noticeTypeName = #{noticetypename,jdbcType=VARCHAR}
    where noticeTypeID = #{noticetypeid,jdbcType=INTEGER}
  </update>
</mapper>